/* APP */
html {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  background: snow;
}

body {
  color: #0d0d40;
  background: snow;
}

#root {
  background: snow;
}


/* NAVIGATION */
nav {
  background-color: #0d0d40;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: -3px;

  display: flex;
  flex-basis: auto;
}

nav li:hover, .nav-link.active {
  background-color: rgba(13, 13, 64, 0.1);

  border: 0px solid white;
  border-bottom-width: 5px;

  color: snow;
}

.nav {
  flex-wrap: unset;
  --bs-nav-link-hover-color: snow;
  height: 100px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-link {
  color: #f0f0f0;
  padding: 5px;
  padding-top: 20px;
}

.navbar, .container {
  padding: 0;
}

.navbar > .container {
  padding: 0;
}

/* HILFSANZEIGEN */
.hilfsanzeigen-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: #0d0d40;
}

.logo-picture {
  display: flex;
  justify-content: center;
}
.logo {
  width: 125px;
}

.logo-description {
  display: flex;
  justify-content: center;
  color: snow;
  margin-top: -20px;
}

.logo-description.double {
  flex-direction: column;
}

.logo-description-title {
  display: flex;
  justify-content: center;
}

.search {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius)!important;
  width: 350px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.search-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-control {
  border: none;
  margin: 0;
  padding: 10px;
  background-color: rgba(13, 13, 64, 0.1);
  color: #0d0d40;
}

.form-control:focus {
  outline: none !important;
  background-color: rgba(13, 13, 64, 0.1);
  box-shadow: 0 0 10px #0d0d40;
  color: #0d0d40;
}

.category-container {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-select {
  width: 308px;
  background-color: rgba(13, 13, 64, 0.1);
  color: #0d0d40;
}

.form-select:focus {
  outline: none !important;
  background-color: rgba(13, 13, 64, 0.1);
  box-shadow: 0 0 10px #0d0d40;
}

.no-entry {
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card {
  width: 320px;
  margin-top: 10px;
  background-color: rgba(13, 13, 64, 0.1);
  padding: 2px;
}

.list-entry {
  background-color: rgba(13, 13, 64, 0.1);
}

.hilfsanzeigen {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  height: 450px;
  margin-top: 10px;
  overflow: scroll;
}

.hilfen {
  display: flex;
  justify-content: center;
}

.hilfsanzeigen li {
  margin: 0;

  background-color: rgba(13, 13, 64, 0.01);

  border-bottom-width: 1px;
}

.hilfsanzeigen .titel {
  padding-left: 5px;
  color: #0d0d40;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(13, 13, 64, 0.01);
}

.hilfsanzeigen .beschreibung {
  padding-left: 5px;
  background-color: rgba(13, 13, 64, 0.01);
  color: #0d0d40;
}

.hilfsanzeigen ul{
  padding-left: 0;
  align-content: center;
}

.hilfsanzeigen ul li {
  padding: 2px;
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  color: #0d0d40;
}

.zeitpunkt, .standort, .kategorie {
  width: 80px;
}

.hilfsanzeigen .actions {
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(13, 13, 64, 0.1);
  width: auto
}

.hilfsanzeigen .actions > div {

  background-color: rgba(13, 13, 64, 0.1);
  transition: background-color 0.5s;

  flex: 1;
  text-align: center;

}

.actions {
  display: flex;
  align-items: center;
}

.actions:hover {
  color: snow;
}

.action.edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit:hover {
  color: snow;
}

.hilfsanzeigen .actions > div:first-child {
  margin-left: 0;
}

.hilfsanzeigen .actions > div:last-child {
  margin-right: 0;
}

.hilfsanzeigen .actions > div:hover {
  cursor: pointer;
  background-color: #0d0d40;
  color: snow;
}

.hilfsanzeigen ol ul {
  list-style: none;
}

.anfrage {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #0d0d40;
}

.anfrage:hover {
  color: snow;
}

.no-hilfsanzeigen {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.no-hilfsanzeigen p {
  font-size: 18px;
}

/* LOGIN */



.logo-picture{

  margin: 0 auto;
  text-align: center;

}
.login.logo {
  width: 200px;
  margin-top: 20px;
  background-position: top;
}

.login-page, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background: #FFFAFA;
}
.login-page{
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0 auto;
}

input {
  margin: 0.5rem ;
  padding: 1rem;
  border:rgb(9, 9, 9);
  border-radius: 10px;
  background-color: rgba(13, 13, 64, 0.1);
  color: #0d0d40;
}

input::placeholder{
  color: #0d0d40;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #0d0d40;
}

.login-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 10px;
  border: rgb(9, 9, 9);
  background-color: #0d0d40;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}

button:hover {
  background-color: rgba(13, 13, 64, 0.1);
  color: #0d0d40;
}

.link-btn {
  background: none;
  color: rgb(10, 10, 10);
  text-decoration: underline;
  margin:0;
}

.link-btn a {
  color: #0d0d40;
  text-decoration: unset;
}

.link-btn:hover {
  background-color: unset;
}

.register-now {
  display: flex;
  justify-content: center;
}

label {
  text-align: left;
}

/* Registrieren */
.registrieren-page{
  display: flex;
  flex-direction: column;
  background-color: snow;
}

.register-form {
  margin-top: 20px;
}

.name_labels, .adress_labels, .email_label, .phone_label, .username_label, .pw_label {
  display: flex;
  justify-content: center;
}

label.name, label.number, label.street, label.plz, label.city, label.email, label.phone, label.username, label.pw {
  margin-left: 15px;
}

.name_inputs, .adress_inputs, .email_input, .phone_input, .username_input, .pw_input {
  display: flex;
  justify-content: center;
}

.name {
  width: 160px;
}

.street {
  width: 260px;
}

.number {
  width: 60px;
}

.plz {
  width: 80px;
}

.city {
  width: 240px;
}

.email, .phone, .username, .pw {
  width: 336px;
}

.register-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Konto */
.container {
  max-width: 600px;
  margin: 0 auto;
}


.header {
  margin-bottom: 10px;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.box{
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #0d0d40;
  border-radius: 6px;
  padding: 10px;
}

.Vorname, .Nachname {
  width: 160px;
}

.Straße {
  width: 240px;
}

.Hausnummer {
  width: 80px;
}

.Postleitzahl {
  width: 110px;
}

.Stadt {
  width: 210px;
}

.Email, .Telefon, .Nutzername {
  width: 330px;
}

.konto-button {
  width: 100px;
  padding: 10px;
}

.logout > a{
  text-decoration: none;
  color: snow;
}

.logout > a:hover{
  color: #0d0d40;
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 330px;
}


h2 {
  margin-top: 10px; /* Füge etwas Abstand oberhalb der kleinen Überschrift hinzu */
}

.konto-buttons {
  display: flex;
  justify-content: center;
}

.hilfsanzeige-bearbeiten {
  width: 110px;
}

/* Anzeige erstellen */

.helping-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.helping-form > div {
  width: 325px;
}

.title-input, .description-input {
  width: 308px;
}

.place-input, .time-input {
  width: 150px;
}

.time-input {
  margin-left: 0;
}

.description-input {
  height: 150px;
}

.form-select.category {
  margin: 0.5rem;
  padding: 0.5rem;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button > button > a {
  color: snow;
  text-decoration: none;

}

.submit-button > button > a:hover {
  color: #0d0d40;

}

textarea {
  background-color: rgba(13, 13, 64, 0.1);
  border: transparent;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  color: #0d0d40;
}

.description-input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px #0d0d40;
}

.textarea {
  display: flex;
  justify-content: center;
}

/* Angebotene Hilfe */

.kontakt {
  text-decoration: underline;
  background-color: rgba(13, 13, 64, 0.1);
  padding-left: 5px;
  color: #0d0d40;
}



